
.button_form
{
    position:absolute;
    float:right;
    color: #000000;
    top: 30;
    right: 50px;
    z-index: 999;
    font-size: 35px !important;
}

.button_form:hover
{
    cursor: pointer;
    /*background: #000000;*/
    /*color: #cornflowerblue;*/

    /*font-size: 35px !important;*/
}

#form_board
{
    display: none; /*!important*/
    position: absolute;
    z-index: 99;
    top: 0;
    background: #000000e3;
    width: 99%;
    height: 100%;
}

#form_board form
{
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border: 3px solid #ffffff;
    border-radius: 15px;
    /*display: none;*/
}

#form_board form label
{
    color: #ffffff !important;
}

table tr td a
{
    border: 2px solid cornflowerblue;
    padding: 5px;
    border-radius: 10px;
    color: cornflowerblue;
    text-decoration: none;
}

table tr td a:hover
{
    color: #ffffff;
    background-color: cornflowerblue;
}

.content
{
    margin-top: 15px;
    position: relative;
    float: left;
    width: 250px;

    font: 14px/20px BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    color: #333;
}

#tel2Id
{
    position: relative;
    float: left;
}

table
{
    margin-bottom: 15px;
}